@import '../../../styles/variables.scss';

.dashboard {
  width: 100vw;
  height: 100vh;
  & .header {
    height: 15%;
    display: flex;
    justify-content: space-between;
    & .controls {
      width: 80%;
      padding: 1rem;
      & .btns {
        width: 100%;
        height: 100%;
        background-color: $diamondBlue;
        box-shadow: $shadow;
        padding: 1rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    }
    & .user {
      width: 20%;
      padding: 1rem;
      & .content {
        width: 100%;
        height: 100%;
        background-color: $diamondBlue;
        color: $imperialBlue;
        box-shadow: $shadow;
        padding: 1rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    }
  }
  & .view {
    height: 84%;
    padding: 1rem;
    & .grid {
      width: 100%;
      height: 100%;
      display: grid;
      grid-gap: 1rem;
      grid-template-rows: 10% 89%;
      grid-template-columns: 15% 84%;
      grid-template-areas:
      'grid-controls grid-detail'
      'grid-master grid-detail';
      & .controls {
        grid-area: grid-controls;
        background-color: $diamondBlue;
        box-shadow: $shadow;
        & .suppliers, .resources, .agency {
          height: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;
          padding: .5rem .5rem .5rem 1rem;
          & .btn {
            margin: 0 3px;
          }
          & .icon {
            color: $imperialBlue;
            margin-right: 1rem;
            transition: $fastTransition;
            &:hover {
              transform: scale(1.3);
            }
            &.red {
              color: red;
            }
          }
          & .input {
            width: 100%;
            padding: .25rem;
          }
          & h1 {
            color: $imperialBlue;
          }
        }
      }
      & .master {
        grid-area: grid-master;
        background-color: $diamondBlue;
        box-shadow: $shadow;
        overflow-y: auto;
        overflow-x: hidden;
        & .suppliers, .resources, .agency, .notes {
          padding: .5rem;
          height: 100%;
          & .btn {
            display: block;
            width: 100%;
            margin: 1rem 0;
          }
          & .admin-entities {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
          }
        }
      }
      & .detail {
        grid-area: grid-detail;
        background-color: $diamondBlue;
        box-shadow: $shadow;
        height: 100%;
        overflow-y: auto;
        & .suppliers {
          padding: 1rem;
          width: 100%;
          height: 100%;
          & .content {
            width: 100%;
            height: 100%;
            padding: 1rem;
            display: grid;
            grid-gap: 1rem;
            grid-template-columns: 30% 60% 9%;
            grid-template-rows: 10% 89%;
            grid-template-areas:
            'supplier-name supplier-name  supplier-controls'
            'supplier-contact supplier-description supplier-description';
            & .supplier-name {
              grid-area: supplier-name;
              background-color: white;
              box-shadow: $shadow;
              display: flex;
              justify-content: center;
              align-items: center;
              & h2 {
                width: 90%;
                text-align: center;
                color: $imperialBlue;
              }
              & .consortium {
                color: $imperialBlue;
              }
            }
            & .supplier-controls {
              grid-area: supplier-controls;
              background-color: white;
              box-shadow: $shadow;
              padding: 1rem;
              display: flex;
              justify-content: space-around;
              align-items: center;
              & .icon {
                color: $imperialBlue;
                transition: $fastTransition;
                &.favorite {
                  color: red;
                }
                &:hover {
                  transform: scale(1.3);
                }
              }
            }
            & .supplier-contact {
              grid-area: supplier-contact;
              background-color: white;
              box-shadow: $shadow;
              display: flex;
              flex-direction: column;
              .contact-details, .login-details {
                height: 50%;
                padding: 1rem;
                color: $imperialBlue;
                & h4 {
                  text-align: center;
                }
                & hr {
                  margin: .5rem 0;
                }
                & p {
                  margin-bottom: .25rem;
                }
              }
            }
            & .supplier-description {
              grid-area: supplier-description;
              background-color: white;
              box-shadow: $shadow;
              padding: 1rem;
              color: $imperialBlue;
              overflow-y: auto;
              & p {
                margin-bottom: 1rem;
              }
            }
          }
          & .none-selected {
            height: 100%;
            background-color: white;
            box-shadow: $shadow;
            position: relative;
            & .centered {
              position: absolute;
              top: 50%;
              left: 50%;
              width: 100%;
              transform: translate(-50%, -50%);
              color: $imperialBlue;
              text-align: center;
            }
          }
        }
        & .resources {
          padding: 1rem;
          height: 100%;
          & .tools, & .learning {
            height: 100%;
            & .none-selected {
              height: 100%;
              background-color: white;
              box-shadow: $shadow;
              position: relative;
              & .centered {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                transform: translate(-50%, -50%);
                color: $imperialBlue;
                text-align: center;
              }
            }
            & .selection {
              display: flex;
              justify-content: space-between;
              & h2, & .control {
                background-color: white;
                box-shadow: $shadow;
                height: 50px;
              }
              & h2 {
                width: 85%;
                color: $imperialBlue;
                display: flex;
                justify-content: center;
                align-items: center;
              }
              & .control {
                width: 10%;
                padding: 1rem 0;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $imperialBlue;
                & .icon {
                  transition: $fastTransition;
                  &:hover {
                    transform: scale(1.3);
                  }
                }
              }
            }
          }
        }
        & .notes {
          padding: 1rem;
          height: 100%;
          color: $imperialBlue;
          & .none-selected {
            height: 100%;
            background-color: white;
            box-shadow: $shadow;
            position: relative;
            & .centered {
              position: absolute;
              top: 50%;
              left: 50%;
              width: 100%;
              transform: translate(-50%, -50%);
              color: $imperialBlue;
              text-align: center;
            }
          }
          & > div {
            height: 100%;
            & .title, & .body {
              background-color: white;
              box-shadow: $shadow;
            }
            & .title {
              height: auto;
              margin-bottom: 1rem;
              padding: 1rem;
              text-align: center;
            }
            & .body {
              padding: 1rem;
              max-height: calc(100% - 5rem);
            }
          }

        }
        .me {
          padding: 1rem;
          height: 100%;
          & .field {
            display: flex;
            justify-content: space-between;
            align-items: center;
            & .label {
              margin-right: 1rem;
              color: $imperialBlue;
            }
            & .control {
              width: 80%;
            }
          }
        }
        .agent {
          padding: 1rem;
          height: 100%;
          display: grid;
          grid-gap: 20px;
          grid-template-columns: 35% 35% 30%;
          grid-template-rows: 10% 65% 15%;
          grid-template-areas:
            'name name .'
            'contact bio .'
            'social bio .';
          & .name, & .contact, & .bio, & .social {
            background-color: white;
            box-shadow: $shadow;
            padding: 1rem 0;
            text-align: center;
            color: $imperialBlue;
            height: 100%;
          }
          & .name {
            grid-area: name;
          }
          & .contact {
            grid-area: contact;
            padding: 1rem;
            & .heading {
              text-align: center;
              padding-bottom: .5rem;
            }
            & hr {
              display: block;
              margin-bottom: 2rem;
            }
            & .phone, & .location, & .email {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              margin-bottom: 2rem;
              & .icon {
                margin-right: 3rem;
                font-size: 1.3rem;
              }
            }
          }
          & .bio {
            grid-area: bio;
          }
          & .social {
            grid-area: social;
            display: flex;
            justify-content: space-around;
            align-items: center;
            & .facebook, & .twitter, & .linkedin {
              font-size: 2rem;
            }
          }
        }
        & .admin {
          & .suppliers, & .resources, & .agents {
            & .btn {
              margin: 1rem;
            }
          }
        }
      }
    }
  }
}

.new-note {
  width: 40vw;
  color: $imperialBlue;
  & h4 {
    text-align: center;
    padding: .5rem 0;
  }
}

.delete-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  width: 60vw;
  height: 60vh;
  background-color: $diamondBlue;
  box-shadow: $shadow;
  color: $imperialBlue;
  & h4 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  & .btns {
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20%;
    & .btn {
      display: flex;
      justify-content: space-around;
      align-items: baseline;
      & .red, & .green {
        margin-left: .5rem;
        transition: $fastTransition;
      }
      &:hover .red {
        color: red;
      }
      &:hover .green {
        color: green;
      }
    }
  }
}

.fill {
  height: 100%;
}
