$white: rgb(255, 255, 255);
$imperialBlue: rgb(27, 73, 101);
$berryBlue: rgb(61, 132, 247);
$lividBlue: rgb(98, 182, 203);
$powderBlue: rgb(190, 233, 232);
$diamondBlue: rgb(202, 233, 255);
$modalBg: rgba(255, 255, 255, .8);
$shadow: 0 10px 6px -6px #777;
$fastTransition: all .2s ease-in-out;
$debugTransition: all 1s ease-in-out;
